<%- include("Navbar.ejs") %>

<form action="/admin/save_academics_detail" method="post">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-secondary shadow">
        <h1 class="text-white">MANAGE ACADEMICS</h1>
      </div>
      <div class="col-md-4 mt-4">
        <label for=""> Academics Background</label>
        <input type="file" name="home_bg" class="form-control" />
      </div>
      <div class="col-md-4 mt-4">
        <label for=""> Founder Image</label>
        <input type="file" name="founder_img" class="form-control" />
      </div>
      <div class="col-md-4 mt-4">
        <label for=""> Founder Msg</label>
        <input
          type="text"
          name="faculty_text"
          class="form-control"
          accept="image/*"
        />
      </div>
      <div class="col-md-4 mt-4">
        <label for=""> Acivement Image</label>
        <input
          type="file"
          name="achivement_img"
          class="form-control"
          accept="image/*"
        />
      </div>
      <div class="col-md-4 mt-4">
        <label for=""> Acivement Text</label>
        <input
          type="text"
          name="achivement_text"
          class="form-control"
          accept="image/*"
        />
      </div>
    </div>
    <div class="col-md-12 mt-3 text-center">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<hr />

<%- include("Footer.ejs") %>
