.career-req {
  height: 600px;
  border: 1px solid black;
  background: #0162bc;
}

.career-req .ul {
  height: 90px;
  padding-left: 10px;
  background: #017acf;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}