.navbar {
  margin-top: 20px;
  color: white;
  height: 100px;

}

.nav-link {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.nav-link:hover {
  color: aqua;
  text-decoration: underline;
}

.navbar-brand img {
  width: 150px;
  margin-left: 50px;
}

.navbar-nav {
  margin-right: 50px;
  gap: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #ffffff;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  gap: 20px;
  width: 210px;
  height: 50px;
  border-radius: 50px;
  border: none;
}

.button ion-icon {
  padding: 11px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: rgba(144, 34, 228, 0.95);
}

.button:hover {
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  border: 1px solid white;
}

@media(max-width:480px) {
  .navbar {
    position: fixed;
    background-color: yellow !important;
    height: 100px;
  }

  .navbar-nav {
    background-color: rgb(65, 120, 202);
    width: 100%;
    padding: 20px;
  }

  .nav-link {
    margin-left: 20px;
  }

  .button {
    margin-left: 20px;
  }

  .navbar-brand img {
    width: 70px;
    margin-left: 0px;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    color: rgb(0, 0, 0);
  }
}