<%- include("navbar.ejs") %>

<link rel="stylesheet" href="style/Academics.css" />
<link rel="stylesheet" href="style/index.css" />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 slide1">
      <img src="uploads/academics.jpg" alt="" />
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-12">
      <h2>ACADEMIC PROGRAMMES</h2>
      <div class="line mb-3 mt-3"></div>
      <p>
        DAIS prepares students for the ICSE (Indian Certificate of Secondary
        Education), the IGCSE (International General Certificate of Secondary
        Education), and the IBDP (International Baccalaureate Diploma Programme)
        examinations. The School is a member of the CIPP (Cambridge
        International Primary Programme). Classes I to VII have an independent
        and integrated programme with an inter-disciplinary approach. In
        Secondary school (Classes VIII to X), students pursue either the ICSE or
        the IGCSE Curriculum. Class VIII serves as a foundational and
        preparatory programme for the ICSE or the IGCSE curriculum in Class IX
        and X. In Class XI and XII, the IB Diploma is offered.
      </p>
    </div>
  </div>
</div>
<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h4><b>LKG & UKG</b></h4>
      <div class="line mb-3"></div>

      <img src="uploads/lkg-ukg.jpg" alt="" />
      <p>
        Our Early Years Programme (LKG & UKG) encourages curiosity, exploration
        and discovery in a stimulating, safe and happy learning environment. As
        children enter the collaborative learning environment, importance is
        placed on the awareness of self, building social relationships and
        developing understanding and appreciation for people and the world
        around them. The IB philosophy, along with the DAIS guiding statements,
        work together to foster a culture that celebrates diversity, and
        encourages empathy and respect. With the learner at the centre of all
        that we do, attributes and dispositions help to create a learning
        environment that prioritises values such as respect, open-mindedness and
        caring.
      </p>
      <div class="row p-0">
        <div class="col-md-6 card-1">
          <h6>SUBJECTS</h6>
          <img src="uploads/lkg-ukg-1.jpg" alt="" />

          <img src="uploads/lkg-ukg-2.jpg" alt="" />

          <img src="uploads/lkg-ukg-3.jpg" alt="" />

          <img src="uploads/lkg-ukg-4.jpg" alt="" />
        </div>
        <div class="col-md-6 card-1">
          <h6>SCHOOL TIMING</h6>
          <img src="uploads/lkg-ukg-5.jpg" alt="" class="w-100 h-50" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h4><b>CLASSES I TO V</b></h4>
      <div class="line mb-3"></div>

      <img src="uploads/middle-class.jpg" alt="" />
      <p>
        Our Early Years Programme (LKG & UKG) encourages curiosity, exploration
        and discovery in a stimulating, safe and happy learning environment. As
        children enter the collaborative learning environment, importance is
        placed on the awareness of self, building social relationships and
        developing understanding and appreciation for people and the world
        around them. The IB philosophy, along with the DAIS guiding statements,
        work together to foster a culture that celebrates diversity, and
        encourages empathy and respect. With the learner at the centre of all
        that we do, attributes and dispositions help to create a learning
        environment that prioritises values such as respect, open-mindedness and
        caring.
      </p>
      <div class="row p-0">
        <div class="col-md-7 card-1">
          <h6>SUBJECTS</h6>
          <img src="uploads/middle-class-1.jpg" alt="" />

          <img src="uploads/middle-class-3.jpg" alt="" />

          <img src="uploads/lkg-ukg-3.jpg" alt="" />

          <img src="uploads/lkg-ukg-4.jpg" alt="" />
        </div>
        <div class="col-md-5 card-1">
          <h6>SCHOOL TIMING</h6>
          <img src="uploads/middle-class-5.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h4><b>Classes V to X</b></h4>
      <div class="line mb-3"></div>

      <img src="uploads/class-8.jpg" alt="" />
      <p>
        Our Early Years Programme (LKG & UKG) encourages curiosity, exploration
        and discovery in a stimulating, safe and happy learning environment. As
        children enter the collaborative learning environment, importance is
        placed on the awareness of self, building social relationships and
        developing understanding and appreciation for people and the world
        around them. The IB philosophy, along with the DAIS guiding statements,
        work together to foster a culture that celebrates diversity, and
        encourages empathy and respect. With the learner at the centre of all
        that we do, attributes and dispositions help to create a learning
        environment that prioritises values such as respect, open-mindedness and
        caring.
      </p>
      <div class="row p-0">
        <div class="col-md-8 card-1">
          <h6>SUBJECTS</h6>
          <img src="uploads/class-8-1.png" alt="" />
        </div>
        <div class="col-md-4 card-1">
          <h6>SCHOOL TIMING</h6>
          <img src="uploads/middle-class-5.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 mb-2">
      <h4><b>Classes XI to XII</b></h4>
      <div class="line mb-3"></div>
      <img src="uploads/class-xi.jpg" alt="" />
      <p>
        Our Early Years Programme (LKG & UKG) encourages curiosity, exploration
        and discovery in a stimulating, safe and happy learning environment. As
        children enter the collaborative learning environment, importance is
        placed on the awareness of self, building social relationships and
        developing understanding and appreciation for people and the world
        around them. The IB philosophy, along with the DAIS guiding statements,
        work together to foster a culture that celebrates diversity, and
        encourages empathy and respect. With the learner at the centre of all
        that we do, attributes and dispositions help to create a learning
        environment that prioritises values such as respect, open-mindedness and
        caring.
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h6>SUBJECTS</h6>
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <th scope="row">Group 1</th>
              <td>
                <b>Studies in Language and Literature</b><br />
                English Language and Literature HL/SL; English Literature HL/SL
              </td>
            </tr>
            <tr>
              <th scope="row">Group 2</th>
              <td>
                <b>The Arts</b> <br />Visual Arts HL/SL, Theatre Arts HL/SL
              </td>
            </tr>
            <tr>
              <th scope="row">Group 3</th>
              <td>
                <b>Individuals and Societies Business Management</b>
                <br />HL/SL; Economics HL/SL; Geography HL/SL; Global Politics
                HL/SL; History HL/SL and Psychology HL/SL
              </td>
            </tr>
            <tr>
              <th scope="row">Group 4</th>
              <td>
                <b>Sciences Physics</b> <br />
                HL/SL; Chemistry HL/SL; Biology HL/SL; Computer Science HL/SL;
                Sports, Exercise and Health Science (SEHS) SL
              </td>
            </tr>
            <tr>
              <th scope="row">Group 5</th>
              <td>
                <b>Mathematics Analysis and Approaches</b> <br />
                HL/SL; Application and Interpretation HL/SL
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <h6>SCHOOL TIMING</h6>
        <img src="uploads/class-xi-1.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<%- include("footer.ejs") %>
