<%- include("navbar.ejs") %>
<link rel="stylesheet" href="style/Addmission.css" />
<link rel="stylesheet" href="style/index.css" />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header"></div>
  </div>
</div>

<%- include("footer.ejs") %>
