
<link rel="stylesheet" href="style/Footer.css">
<link rel="stylesheet" href="style/index.css">



<footer class="footer-06">
  <div class="container">
      <div class="row footer-slide m-0">
          <div class="col-md-3">
              <a href="/footer">
                <img src="uploads/logo.png" alt="" class="w-100" />
              </a>
          </div>
          <div class="col-md-3">
              <h4>Usefull Links</h4>
              <hr />
              <ul>
                  <li>Home</li>
                  <li>About</li>
                  <li>Addmission</li>
                  <li>Contact</li>
              </ul>
          </div>
          <div class="col-md-3">
              <h4>Social</h4>
              <hr />
              <ul>
                  <li><ion-icon name="logo-instagram"></ion-icon>Instagram</li>
                  <li><ion-icon name="logo-whatsapp"></ion-icon>Whatsapp</li>
                  <li><ion-icon name="logo-facebook"></ion-icon>Facebook</li>
                  <li><ion-icon name="logo-whatsapp"></ion-icon>Whatsapp</li>
              </ul>
          </div>
          <div class="col-md-3 ">
              <h4>Contact</h4>
              <hr />
              <ul>
                  <li>&#128204; Apt. 376 942 Jerome Groves, North Edelmiraberg, KS 234234</li>
                  <li>&#128241; +91 83474 32343</li>
                  <li>&#128231; school@gmail.com</li>
              </ul>
          </div>
          <div class="col-md-12 text-center">
            <p class="copyright">
                Copyright &copy;{year} All rights reserved  <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="" target="_blank">School</a>
            </p>
        </div>
      </div>
      
  </div>
</footer>



<script  src="nav.js"></script>

</body>

</html>