<%- include("navbar.ejs") %>
<link rel="stylesheet" href="style/Home.css" />
<link rel="stylesheet" href="style/index.css" />

<div class="container-fluid m-0 p-0 home-slide-1">
  <div class="row m-0 p-0">
    <div class="col-md-12 p-0 m-0">
      <img src="uploads/home-bg-2.jpg" alt="" class="w-100" />

      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Enquire Now
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="background-color: bisque">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                For admission enquiries, please contact:
              </h5>
              <div
                type="button"
                class="btn-secondary p-2"
                data-bs-dismiss="modal"
              >
                <ion-icon name="close-outline"></ion-icon>
              </div>
            </div>
            <div class="modal-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga id
              facere tempore distinctio architecto, reiciendis molestiae
              perferendis illo voluptas repellat! Neque nam ex quae in
              consequuntur, repudiandae vel qui quia?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 home-slide-res m-0 p-0">
      <img src="uploads/papa-mobile-banner.jpg" alt="" class="w-100" />
      <button class="btn btn-primary">Enquire Now</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 home-slide2-text">
      <h2>EDUCATION THAT SPARKS CHANGE</h2>
      <div class="line"></div>
      <p>
        We have grown into one of India's leading group of K-12 institutions,
        providing academic excellence to our students. This is facilitated by
        dedicated educators who are trained to channelize their energy and
        resources towards child-centered learning. We have also reached out
        internationally, to establish friendship institutions all across the
        globe.
      </p>
      <button>Know More</button>
    </div>
    <div class="col-md-4 home-slide2-video">
      <iframe
        width="390"
        height="250"
        src="https://www.youtube.com/embed/jVOnGjvgDd8?si=g0GA8CSw7e6HKBvA"
      ></iframe>
    </div>
  </div>
</div>

<div class="container slide-3">
  <div class="row">
    <div class="col-md-12 home-slide-3-heading">
      <h2>Our School</h2>
      <div class="line"></div>
    </div>
    <div class="col-md-8 home-slide-3-text">
      <p>
        <span>&#9758;</span> Students recognise that their journey of learning
        is just as important as the ultimate destination. At , every community
        member is responsible for fostering character development. Students
        develop their self-confidence and self-esteem in classrooms, playing
        fields, and in their homes, where they are taught important moral
        principles like honesty, integrity, collaboration, generosity, and
        concern for others.
      </p>
      <p>
        <span>&#9758;</span> students are compassionate, caring, tolerant, and
        accepting as well as risk-takers and out-of-the-box thinkers who seek an
        education for “life” and not just an exam score for “now”.
      </p>
      <p>
        <span>&#9758;</span>While both our campuses offer world-class
        infrastructure and are expansive enough to accommodate a wide range of
        academic opportunities and extracurricular activities, they are also
        small enough to foster the connections and relationships that enable our
        students to flourish.
      </p>
    </div>
    <div class="col-md-4 home-slide-3-img">
      <img src="uploads/school-3.png" alt="" />
    </div>
  </div>
</div>

<div class="container mobile-res">
  <div class="row">
    <div class="col-md-12 home-slide-3-heading">
      <h2>Our School</h2>
    </div>
    <div class="col-md-4 home-slide-3-img-res">
      <img src="uploads/school-3.png" alt="" />
    </div>
    <div class="col-md-8 home-slide-3-text">
      <p>
        <span>&#9758;</span> OIS Students recognise that their journey of
        learning is just as important as the ultimate destination. At OIS, every
        community member is responsible for fostering character development.
        Students develop their self-confidence and self-esteem in classrooms,
        playing fields, and in their homes, where they are taught important
        moral principles like honesty, integrity, collaboration, generosity, and
        concern for others.
      </p>
      <p>
        <span>&#9758;</span>OIS students are compassionate, caring, tolerant,
        and accepting as well as risk-takers and out-of-the-box thinkers who
        seek an education for “life” and not just an exam score for “now”.
      </p>
      <p>
        <span>&#9758;</span>While both our campuses offer world-class
        infrastructure and are expansive enough to accommodate a wide range of
        academic opportunities and extracurricular activities, they are also
        small enough to foster the connections and relationships that enable our
        students to flourish.
      </p>
    </div>
  </div>
</div>

<div class="container mt-0">
  <div class="row">
    <div class="col-md-5 home-slide-4-img">
      <img src="uploads/principle.jpg" alt="" class="w-100" />
    </div>
    <div class="col-md-7 home-slide-4-text">
      <h2>From our Founder</h2>
      <div class="line mb-3"></div>
      <h5>Dear Readers,</h5>
      <p>
        Welcome to the 2024-25 Academic Year at Smt. Sulochanadevi Singhania
        School!
      </p>
      <p>
        As we reflect on our 55 year long journey of our school and the many
        milestones that we have achieved, we have all embraced all changes in
        our stride and turned them into opportunities to scale higher altitudes
        of success.
      </p>
      <p>
        Change is the essence of life, and just like a caterpillar transforms
        into a butterfly, we too undergo metamorphoses in our academic,
        personal, and social lives. It’s not just about adapting to change but
        it’s also about being a catalyst for change. It’s about evolving,
        progressing and reinventing.
      </p>
      <p>
        At Smt. Sulochanadevi Singhania School, we embrace change with an open
        mind and continue innovation in our teaching methods to create an
        engaging learning environment. We equip our students with necessary life
        skills and hone their talent and abilities to embrace challenges that
        come their way and transform them into learning opportunities and emerge
        stronger and victorious. We believe in the power of holistic education
        to transform lives and shape the future of our brilliant children.
      </p>
    </div>
    <div class="col-md-12">
      <p>
        Our Sulonian Parents, Teachers, Staff and Alumni leave no stone unturned
        to provide their unwavering support and encouragement that are
        instrumental in shaping the future leaders of tomorrow. We are committed
        to excellence in all that we do. Whether it is in academics, athletics,
        arts, or community service, let us strive for excellence and push
        ourselves to reach new heights of achievement.
      </p>

      <p>With warm Regards,</p>
      <p style="font-weight: 600">
        Dr. Revathi Srinivasan,<br />
        Director - Education and Founder,<br />
        Smt. Sulochanadevi Singhania School.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 home-slide-5-heading mb-3">
      <h2>Our Achievements</h2>
      <div class="line"></div>
    </div>
    <div class="col-md-3 mb-2">
      <a href="#">
        <div class="box">
          <img src="uploads/achivement-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p>Our School Shines at the IDA Education Awards 2023</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-2">
      <a href="#">
        <div class="box">
          <img src="uploads/achivement-2.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p>
              Education World rates our school as Maharashtra's & Thane's No. 1
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-2">
      <a href="#">
        <div class="box">
          <img src="uploads/achivement-3.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p>
              FPJ awards Outstanding rating to our school Outstanding rating to
              our school
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-2">
      <a href="#">
        <div class="box">
          <img src="uploads/achivement-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p>
              Global Icon Education Awards Maharashtra 2023 Outstanding rating
              to our school
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include("footer.ejs") %>
